{
    "plugins": ["@prettier/plugin-php", "@shufo/prettier-plugin-blade"],
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "tabWidth": 4
            }
        }
    ]
}
